<h2>Character: #<%= @character.id %></h2>

<p>Name: <%= @character.name %></p>
<p>Type: <%= @character.character_type %></p>
<p>Location: <%= @character.location %></p>

<a href="/">Back Back Back Again</a>